@font-face {
    font-family: my-main-font;
    src: url(fonts/CaviarDreams.ttf);
}

:root {
    display: flex;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: space-between;
}

.left-side {
    width: 50%;
    height: 100%;
}

.background-image {
    position: relative;
    width: 100%;
    max-height: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin-top: 0px;
}

.content-text {
    background-color: lightgray;
    font-size: 1.25em;
    padding: 6% 5%;
}

.form {
    margin-top: 3%;
    margin-bottom: 3%;
}

.sign-up-buttons {
    background-color: lightgray;
    font-size: 1.25em;
    padding: 6% 5%;
}

.form-text {
    position: relative;
    padding: 1.25em 5%;
    font-size: 1.5em;
}

.row {
    display: flex;
    padding: 1.25em 5%;
}

.col {
    flex: 50%
}

.logo {
    position: absolute;
    top: 20%;
    left: 10%;
    width: auto;
    max-height: 100px;
    opacity: 85%;
}

.credits {
    position: absolute;
    top: 95%;
    left: 10%;
    color: rgb(173, 173, 173);
    font-size: 1.25em;
}

.logo-text {
    position: absolute;
    top: 20%;
    left: 25%;
    color: white;
    font-size: 32px;
    font-family: my-main-font, sans-serif;
    font-weight: bold;
}

button {
    padding: 1em 3em 1em 3em;
    border-radius: 12px;
    border-color: rgb(135, 250, 235);
    border-style: solid;
    color: white;
    background-color: rgb(67, 64, 224);
    transition-duration: 0.3s;
}

button:hover {
    background-color: rgb(119, 0, 255);
    border-color: rgb(151, 0, 0);
    border-style: double;
    color: black;
}

input {
    outline-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    transition: 0.3s;
}

input:focus {
    outline-color: rgb(207, 0, 0);
}

.content-text > p {
    color: white;
}

.sign-up-buttons > p {
    color: rgb(255, 255, 255);
}
